<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Edit Profile</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Edit Profile</h2>
        <% if (typeof error !== 'undefined'){ %>
            <div class="alert alert-danger"><%= error %></div>
        <% } %>
        <form action="/user/edit?_method=PUT" method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" value="<%= user.email || '' %>" required>
            </div>
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" name="firstname" id="firstname" class="form-control" value="<%= user.firstname || '' %>" required>
            </div>
            <div class="form-group">
                <label for="middlename">Middle Name</label>
                <input type="text" name="middlename" id="middlename" class="form-control" value="<%= user.middlename || '' %>">
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" name="lastname" id="lastname" class="form-control" value="<%= user.lastname || '' %>" required>
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="date" name="dob" id="dob" class="form-control" value="<%= user.dob ? user.dob.toISOString().split('T')[0] : '' %>">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" name="address" id="address" class="form-control" value="<%= user.address || '' %>">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" name="city" id="city" class="form-control" value="<%= user.city || '' %>">
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" name="state" id="state" class="form-control" value="<%= user.state || '' %>">
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" name="country" id="country" class="form-control" value="<%= user.country || '' %>">
            </div>
            <div class="form-group">
                <label for="pincode">Pincode</label>
                <input type="text" name="pincode" id="pincode" class="form-control" value="<%= user.pincode || '' %>">
            </div>
            <div class="form-group">
                <label for="phonenumber">Phone Number</label>
                <input type="text" name="phonenumber" id="phonenumber" class="form-control" value="<%= user.phonenumber || '' %>">
            </div>
            <div class="form-group">
                <label for="password">Password (leave blank to keep current password)</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
    <footer class="bg-light py-4" style="margin-top: 50px;">
        <div class="container footer-container">
            <div class="row">
                <div class="col-md-3">
                    <img src="logo.png" alt="Logo" width="30" height="30">
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <p>We are a non-profit using Vedic knowledge to combat global warming and promote sustainability.</p>
                        </div>
                        <div class="col-md-6">
                            <a href="https://www.facebook.com" class="text-dark" target="_blank">
                                <i class="fab fa-facebook fa-2x"></i>
                            </a>
                            <a href="https://www.youtube.com" class="text-dark" target="_blank">
                                <i class="fab fa-youtube fa-2x"></i>
                            </a>
                            <a href="https://www.instagram.com" class="text-dark" target="_blank">
                                <i class="fab fa-instagram fa-2x"></i>
                            </a>
                            <a href="https://www.twitter.com" class="text-dark" target="_blank">
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/about">About</a>
                        </div>
                        <div class="col-md-6">
                            <a href="/ourwork">Our Work</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <a href="/gallery">Gallery</a>
                        </div>
                        <div class="col-md-3">
                            <a href="/contactUs">Contact Us</a>
                        </div>
                        <div class="col-md-3">
                            <a href="/user/scan">Verify</a>
                        </div>
                        <div class="col-md-3">
                            <a href="/join">Join</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a href="/donate">Donate</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center">&copy; 2024 SDPMSS Organizations. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- <script>
        $(document).ready(function () {
            $('.navbar-link.dropdown-toggle').on('click', function () {
                $(this).next('.collapse').collapse('toggle');
                $('.collapse').not($(this).next()).collapse('hide');
            });
        });
    </script> -->
    </body>
    </html>
    