<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About Us </title>
    <link rel="icon" href="/assests/sdpmssLogo.jpg" type="image/jpeg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/nav.css">
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <style>
        .container {
            position: relative;
        }
        .language-toggle {
            position: absolute;
            top: 0;
            right: 0;
            margin: 20px;
        }
        .language-toggle button {
            margin-left: 10px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .language-toggle button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>

<!--------- TOP NAV START ---------------->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container navbar-container">
        <a class="navbar-brand" href="<%= user ? '/user/dashboard' : '/' %>">
            <img src="/assests/logo3.png" alt="Logo" style="width: auto; max-height: 80px;">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        About Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ourwork">
                        Our Work
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery">
                        Gallery
                    </a>
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div id="google_translate_element"></div>
                </li>
                <% if (user) { %>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownWork" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-person"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownWork">
                            <a class="dropdown-item" href="/user/edit-profile">Profile</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">
                            Register
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>


<!----------------------TOP NAV ENDS---------------->


<!----------------------SECOND NAV----------------->


<div class="sticky-navbar-wrapper" style="margin-bottom: 30px;">
    <nav class="navbar navbar-expand-lg sticky-navbar ">
        <div class="container justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="<%= user && user.role === 'member' ? '/user/membership' : '/join' %>">
                        <%= user && user.role === 'member' ? 'Membership Status' : 'Join Us' %>
                    </a>                                       
                </li>
                <li class="nav-item d-flex align-items-center">
                    <span class="mx-2">|</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/donate">Donate</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <span class="mx-2">|</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/scan">User Id LookUp</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <span class="mx-2">|</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= user && user.role === 'member' ? '/user/chat' : '/contactUs' %>">
                        <%= user && user.role === 'member' ? 'Chat with Us' : 'Contact Us' %>
                    </a>
                    
                </li>
            </ul>
        </div>
    </nav>
</div>



<!-------------------SECOND NAV ENDS ----------------------------->
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-body">
            <h1 class="card-title text-center mb-4">About Us</h1>
            <div class="language-toggle">
                <button onclick="toggleLanguage('english')">English</button>
                <button onclick="toggleLanguage('hindi')">Hindi</button>
            </div>
            <p class="card-text english-content">Despite continuous efforts to combat global warming and climate change across the Earth, their effects remain uncontrolled. Natural and unnatural events are occurring frequently, affecting human lives and depleting vital resources, indicating a dire warning of an impending catastrophe. This organization recognizes the intrinsic value of every individual and supports each person. It serves as a medium to address global warming and climate change by integrating modern science with ancient Vedic science, which can be understood and utilized through meditation and deep contemplation—practices that were once prevalent on Earth but were lost due to cataclysms.</p>
            <p class="card-text english-content">By employing these methods, we can gain a deeper understanding of nature and utilize this knowledge to eliminate global warming and climate change without causing harm or dishonor to anyone. This initiative aims to restore the Earth to a state of health and balance, reminiscent of thousands of years ago when human lifespans exceeded one hundred years and people enjoyed robust health and abundant natural resources, both natural and man-made, that are no longer available.</p>
            <p class="card-text english-content">This endeavor can be easily achieved with the cooperation of every individual. Therefore, it is imperative for everyone to participate and contribute in some capacity. A healthy Earth is essential not only for all of humanity and our children but also for you and your children.</p>
            <p class="card-text hindi-content" style="display: none;">
                लगभग पूरे पृथ्वी पर ग्लोबल वार्मिंग और क्लाइमेट चेंज को रोकने के लिए लगातार काम हो रहा है। उसके बाद भी इसके प्रभाव पर नियंत्रण नहीं हो पा रहा है और पृथ्वी पर कहीं न कहीं प्राकृतिक और अप्राकृतिक घटनाएं लगातार हो रही हैं, जिससे इंसान का जीवन प्रभावित होता जा रहा है। पृथ्वी से जीवन के उपयोगी संसाधनों के साथ-साथ, इंसान भी दुख-दर्द के साथ समाप्त हो रहे हैं, जो एक दर्दनाक प्रलय की चेतावनी है। यह संकट प्रत्येक इंसान के रूप में हर व्यक्ति में है और प्रत्येक इंसान को समर्थन प्रदान करना आवश्यक है। एक माध्यम है जो ग्लोबल वार्मिंग और क्लाइमेट चेंज को आधुनिक विज्ञान के साथ-साथ, अब वैदिक विज्ञान का भी उपयोग करता है, जिसे ध्यान और समाधि के माध्यम से जाना और उपयोग किया जा सकता है। यह पृथ्वी पर कभी उपयोग में आया करता था और प्रलय के कारण नष्ट हो गया था। इससे प्रकृति को और गहराई से जाना जा सकता है, और किसी तरह का किसी का नुकसान और अपमान हुए बिना ही ग्लोबल वार्मिंग और क्लाइमेट चेंज को पूरी तरह समाप्त कर सकता है। एक स्वस्थ वातावरण, जो पृथ्वी पर हजारों वर्ष पहले मौजूद था, को बनाने का यह एक आरंभ है। इस समय इंसान की उम्र सौ वर्ष से भी ऊपर हो जाती थी और स्वस्थ होती थी, जब प्राकृतिक और अप्राकृतिक जीवन के सभी स्वास्थ्य सुखी संसाधन पृथ्वी पर उपलब्ध होते थे, जो इस समय पृथ्वी पर नहीं है। यह कार्य प्रत्येक इंसान के सहयोग से आसानी से किया जा सकता है। इसलिए इस कार्य में प्रत्येक इंसान का सहयोग और प्रतिभाग करना आवश्यक है। अन्यथा कुछ न कुछ सहायता अवश्य करनी चाहिए, क्योंकि स्वस्थ पृथ्वी जितना हम सभी इंसानों और हमारे बच्चों के लिए आवश्यक है, उतना ही आपके लिए और आपके बच्चों के लिए भी आवश्यक है, और यह हमें जीवन और समय के साथ करना चाहिए।</p>
        </div>
    </div>
</div>

<script>
    function toggleLanguage(language) {
        if (language === 'english') {
            document.querySelectorAll('.english-content').forEach(function(element) {
                element.style.display = 'block';
            });
            document.querySelectorAll('.hindi-content').forEach(function(element) {
                element.style.display = 'none';
            });
        } else if (language === 'hindi') {
            document.querySelectorAll('.english-content').forEach(function(element) {
                element.style.display = 'none';
            });
            document.querySelectorAll('.hindi-content').forEach(function(element) {
                element.style.display = 'block';
            });
        }
    }
</script>



<!--------------FOOTER STARTS------------------------------>



<footer class="bg-light py-4" style="margin-top: 50px;">
    <div class="container footer-container">
        <div class="row">
            <div class="col-md-4">
                <a class="navbar-brand" href="<%= user ? '/user/dashboard' : '/' %>">
                    <img src="/assests/logo3.png" alt="Logo" style="width: 100%; height: auto;">
                </a>
            </div>
            <div class="col-md-8">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <p>Harnessing Vedic knowledge, we combat global warming and champion sustainability, guided by our organizational principles.</p>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <a href="https://www.facebook.com" class="text-dark mx-2" target="_blank">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                        <a href="https://www.youtube.com" class="text-dark mx-2" target="_blank">
                            <i class="fab fa-youtube fa-2x"></i>
                        </a>
                        <a href="https://www.instagram.com" class="text-dark mx-2" target="_blank">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                        <a href="https://www.twitter.com" class="text-dark mx-2" target="_blank">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <a href="/about">About Us</a>
                    </div>
                    <div class="col-md-4">
                        <a href="/ourwork">Our Work</a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <hr style="border-color: rgba(0, 0, 0, 0.1);">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <a href="/gallery">Gallery</a>
                    </div>
                    <div class="col-md-4">
                        <a href="<%= user && user.role === 'member' ? '/user/chat' : '/contactUs' %>">
                            <%= user && user.role === 'member' ? 'Chat with Us' : 'Contact Us' %>
                        </a>                        
                    </div>
                    <div class="col-md-4">
                        <a href="/user/scan">User Id LookUp</a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <a href="<%= user && user.role === 'member' ? '/user/membership' : '/join' %>">
                            <%= user && user.role === 'member' ? 'Membership Status' : 'Join Us' %>
                        </a>                        
                    </div>
                    <div class="col-md-4">
                        <a href="/donate">Donate</a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <a href="terms-and-conditions">Terms and Conditions
                        </a>                        
                    </div>
                    <div class="col-md-4">
                        <a href="/privacy-policy">Privacy Policy</a>
                    </div>
                    <div class="col-md-4">
                        <a href="/refund-and-return">Refund and Return Policy</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="text-center">&copy; 2024 SDPMSS Organizations. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>






<!---------------------FOOTER ENDS------------------->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- <script>
    $(document).ready(function () {
        $('.navbar-link.dropdown-toggle').on('click', function () {
            $(this).next('.collapse').collapse('toggle');
            $('.collapse').not($(this).next()).collapse('hide');
        });
    });
</script> -->
</body>
</html>
