<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Gallery </title>
    <link rel="icon" href="/assests/sdpmssLogo.jpg" type="image/jpeg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/nav.css">
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    
         <style>
        .gallery-item {
            margin-bottom: 30px;
        }

        .modal-body {
            display: flex;
        }

        .modal-body .media {
            flex: 1;
            padding-right: 15px;
        }

        .modal-body .description {
            flex: 1;
        }
    </style>
</head>
<body>

<!--------- TOP NAV START ---------------->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container navbar-container">
        <a class="navbar-brand" href="<%= user ? '/user/dashboard' : '/' %>">
            <img src="/assests/logo3.png" alt="Logo" style="width: auto; max-height: 80px;">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        About Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ourwork">
                        Our Work
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery">
                        Gallery
                    </a>
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div id="google_translate_element"></div>
                </li>
                <% if (user) { %>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownWork" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-person"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownWork">
                            <a class="dropdown-item" href="/user/edit-profile">Profile</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">
                            Register
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>


<!----------------------TOP NAV ENDS---------------->


<!----------------------SECOND NAV----------------->


<div class="sticky-navbar-wrapper" style="margin-bottom: 30px;">
    <nav class="navbar navbar-expand-lg sticky-navbar ">
        <div class="container justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="<%= user && user.role === 'member' ? '/user/membership' : '/join' %>">
                        <%= user && user.role === 'member' ? 'Membership Status' : 'Join Us' %>
                    </a>                                       
                </li>
                <li class="nav-item d-flex align-items-center">
                    <span class="mx-2">|</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/donate">Donate</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <span class="mx-2">|</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/scan">User Id LookUp</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <span class="mx-2">|</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= user && user.role === 'member' ? '/user/chat' : '/contactUs' %>">
                        <%= user && user.role === 'member' ? 'Chat with Us' : 'Contact Us' %>
                    </a>
                    
                </li>
            </ul>
        </div>
    </nav>
</div>



<!-------------------SECOND NAV ENDS ----------------------------->
<div class="container mt-5">
    <h2 class="text-center mb-4">Gallery</h2>
    <div class="row">
        <!-- Image Item -->
        <div class="col-md-4 gallery-item">
            <img src="https://via.placeholder.com/400x300" class="img-fluid" data-toggle="modal" data-target="#galleryModal" data-title="Image Title 1" data-description="Description for Image 1" data-type="image" data-src="https://via.placeholder.com/400x300" alt="Image 1">
            <p class="text-center">Image Title 1</p>
        </div>
        <!-- Video Item -->
        <div class="col-md-4 gallery-item">
            <img src="https://via.placeholder.com/400x300" class="img-fluid" data-toggle="modal" data-target="#galleryModal" data-title="Video Title 1" data-description="Description for Video 1" data-type="video" data-src="https://www.youtube.com/embed/Y3gqoDUtmt4" alt="Video 1">
            <p class="text-center">Video Title 1</p>
        </div>
        <!-- Add more items as needed -->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="galleryModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="media">
                    <img src="https://via.placeholder.com/400x300" class="img-fluid" data-toggle="modal" data-target="#galleryModal" data-title="Video Title 1" data-description="Description for Video 1" data-type="video" data-src="https://www.youtube.com/embed/Y3gqoDUtmt4" alt="Video 1">
                    <!-- <img id="modalImage" class="img-fluid d-none" src="" alt="">
                    <iframe id="modalVideo" class="embed-responsive-item d-none" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                </div>
                <div class="description">
                    <h5 id="modalTitle">Title</h5>
                    <p id="modalDescription">Description</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#galleryModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var title = button.data('title');
        var description = button.data('description');
        var type = button.data('type');
        var src = button.data('src');

        var modal = $(this);
        modal.find('.modal-title').text(title);
        modal.find('#modalTitle').text(title);
        modal.find('#modalDescription').text(description);

        if (type === 'image') {
            modal.find('#modalImage').attr('src', src).removeClass('d-none');
            modal.find('#modalVideo').addClass('d-none').attr('src', '');
        } else if (type === 'video') {
            modal.find('#modalVideo').attr('src', src).removeClass('d-none');
            modal.find('#modalImage').addClass('d-none').attr('src', '');
        }
    });

    $('#galleryModal').on('hide.bs.modal', function () {
        var modal = $(this);
        modal.find('#modalImage').attr('src', '');
        modal.find('#modalVideo').attr('src', '');
    });
</script>

<!--------------FOOTER STARTS------------------------------>



<footer class="bg-light py-4" style="margin-top: 50px;">
    <div class="container footer-container">
        <div class="row">
            <div class="col-md-4">
                <a class="navbar-brand" href="<%= user ? '/user/dashboard' : '/' %>">
                    <img src="/assests/logo3.png" alt="Logo" style="width: 100%; height: auto;">
                </a>
            </div>
            <div class="col-md-8">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <p>Harnessing Vedic knowledge, we combat global warming and champion sustainability, guided by our organizational principles.</p>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <a href="https://www.facebook.com" class="text-dark mx-2" target="_blank">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                        <a href="https://www.youtube.com" class="text-dark mx-2" target="_blank">
                            <i class="fab fa-youtube fa-2x"></i>
                        </a>
                        <a href="https://www.instagram.com" class="text-dark mx-2" target="_blank">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                        <a href="https://www.twitter.com" class="text-dark mx-2" target="_blank">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <a href="/about">About Us</a>
                    </div>
                    <div class="col-md-4">
                        <a href="/ourwork">Our Work</a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <hr style="border-color: rgba(0, 0, 0, 0.1);">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <a href="/gallery">Gallery</a>
                    </div>
                    <div class="col-md-4">
                        <a href="<%= user && user.role === 'member' ? '/user/chat' : '/contactUs' %>">
                            <%= user && user.role === 'member' ? 'Chat with Us' : 'Contact Us' %>
                        </a>                        
                    </div>
                    <div class="col-md-4">
                        <a href="/user/scan">User Id LookUp</a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <a href="<%= user && user.role === 'member' ? '/user/membership' : '/join' %>">
                            <%= user && user.role === 'member' ? 'Membership Status' : 'Join Us' %>
                        </a>                        
                    </div>
                    <div class="col-md-4">
                        <a href="/donate">Donate</a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <a href="terms-and-conditions">Terms and Conditions
                        </a>                        
                    </div>
                    <div class="col-md-4">
                        <a href="/privacy-policy">Privacy Policy</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="text-center">&copy; 2024 SDPMSS Organizations. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>






<!---------------------FOOTER ENDS------------------->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- <script>
    $(document).ready(function () {
        $('.navbar-link.dropdown-toggle').on('click', function () {
            $(this).next('.collapse').collapse('toggle');
            $('.collapse').not($(this).next()).collapse('hide');
        });
    });
</script> -->
</body>
</html>
